<!DOCTYPE html>
{% extends 'cafe/main.html' %}
{% block content %}
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'images/banner-image-1-1920x500.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Feel free to <em>Contact Us</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
<div class="container h-100">
    		<div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Welcome to our site, you can sign up here!</h1>
							<p class="lead">
								Start creating the best possible user experience for you customers.
							</p>
						</div>
                        <br>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form method="POST" action="">
                                        {% csrf_token %}
										<div class="form-group">
											<label>Username</label>
											{{ form.username }}
										</div>
                                        <div class="form-group">
											<label>Email</label>
											{{ form.email }}
										</div>
										<div class="form-group">
											<label>Password</label>
											{{ form.password1 }}
										</div>
                                        <div class="form-group">
											<label>Confirm your password</label>
											{{ form.password2 }}
										</div>
                                        <a href="{% url 'login' %}">If you have account log in here</a>
										<div class="text-center mt-3">
											<input class="btn btn-lg btn-primary" type="submit" name="submit">
											<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>


  </body>
</html>
{% endblock %}